In [7]:
import pandas as pd

pd.set_option('display.max_colwidth',100)

In [8]:
df = pd.read_csv("student.csv")
df.shape

(35, 5)

In [9]:
df

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [12]:
from sentence_transformers import SentenceTransformer

encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df['name'])
vectors.shape

(35, 768)

In [13]:
vectors

array([[ 0.03366961,  0.06185409,  0.00660484, ...,  0.02156724,
        -0.00849099, -0.00711404],
       [-0.02962556, -0.01845606, -0.00299181, ..., -0.00144506,
        -0.05156556, -0.0032179 ],
       [ 0.01178651,  0.10403802, -0.01011948, ..., -0.01001805,
        -0.03983028, -0.00394034],
       ...,
       [ 0.01180878, -0.03287672,  0.01232195, ..., -0.01642316,
        -0.03903764, -0.00965826],
       [-0.02193745,  0.02014305, -0.02575385, ...,  0.05771491,
         0.02930223,  0.0001224 ],
       [-0.04020529,  0.05486214,  0.00410196, ...,  0.01930921,
        -0.02692471, -0.03618487]], dtype=float32)

In [14]:
dim = vectors.shape[1]
dim

768

In [15]:
import faiss

index = faiss.IndexFlatL2(dim)
index

In [17]:
index.add(vectors)

In [21]:
search_query = "I want to find a guy named john"

vec = encoder.encode(search_query)
vec.shape

(768,)

In [22]:
import numpy as np
svec = np.array(vec).reshape(1,-1)
svec.shape

(1, 768)

In [26]:
distances, I = index.search(svec, k=3)

In [27]:
df.loc[I[0]]

   id         name  class  mark  gender
6   7  My John Rob  Fifth    78    male
9  10     Big John   Four    55  female
4   5    John Mike   Four    60  female